<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Todo List ({{incompleteCount}})</h1>

      <label class="hide-completed">
        <input type="checkbox" checked="{{hideCompleted}}" />
        Hide Completed Tasks
      </label>

      {{> loginButtons}}

      {{#if currentUser}}
        <form class="new-task">
          <input type="text" name="text" placeholder="Type to add new tasks" />
        </form>
      {{/if}}
    </header>

    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>         
</body>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    {{#if currentUser}}
      <button class="delete">&times;</button>
    {{/if}}

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
 
    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
  </li>
</template>
